<md-toolbar class="my-nav">
  <md-toolbar-row >
    <div class="profile">
      <div  *ngIf="!login.profile" >
        <span>Hello {{login?.username}}!</span>
      </div>
      <div  *ngIf="login.profile" >
        <!--<img src="{{login?.profile.picture_url}}" alt="">-->
        <span>Hello {{login?.profile.first_name}} {{login?.profile.last_name}}!</span>
      </div>
    </div>
    <div class="middle">

    </div>
    <button md-button class="logout-button col-sm-1" (click)="logout()">
      Sign out!
    </button>
  </md-toolbar-row>
</md-toolbar>
<md-tab-group>
  <md-tab label="Users">
    <app-users></app-users>
  </md-tab>
  <md-tab label="Records for {{username}}">
    <app-records></app-records>
  </md-tab>
</md-tab-group>
<!--<div class="container-fluid">
  <div class="row">


  </div>
</div>-->
