app-home {
  .my-nav {
    mat-toolbar-row {
      height: 0;
    }

    md-toolbar-row {

      .profile {
        flex-grow: 1;
        img {
          height: 35px;
          width: 35px;
          border-radius: 50%;
        }
      }
      .middle {
        flex-grow: 2;
      }
      .logout-button {
        flex-grow: 1;
        font-size: 20px;
        text-align: right;
      }
    }
  }

  md-tab-group {
    background-color: white;
    height: calc(100% - 80px);

    .mat-tab-label {
      font-size: 20px;
    }
  }
}
