app-home {
    display: block;
    width: 100%;
    
    nav.navbar.navbar-default{
        border: 0;
        margin-bottom: 0;
        div.home-header {
            background-color: #5f5f5f;
            div.navbar-header {
                a.navbar-brand {
                    color:#fff;
                }
            }
            ul.nav.navbar-nav.navbar-right{
                li{
                    a{
                        color:#fff;
                    }
                }
            }
        }
    }

    div.container-fluid{
        div.row {
           height: 100vh;
        }
    }
}