<div id="login-form">
  <div class="title">Sign In</div>
  <form novalidate [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm)">
    <div class="main-div">
      <div class="field-control">
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" required>
      </div>
      <div  class="field-control">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="password" required>
      </div>
    </div>
    <div class="submit-div">
      <button type="submit">Login</button>
    </div>
  </form>
  <p >
    <a href="#" routerLink="/register" class="btn-link">Register if you don't have an account</a>
  </p>
</div>
<button (click)="loginGoogle()">Google login</button>
