app-datetimepicker {
    position: relative;
    >div{
        position: absolute;
        background: white;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
        width: 100%;
        span {
            display: block;
            margin-right: 10px;
            width: calc(100% - 30px);
        }
        fa {
            cursor: pointer;
            color: black !important;
        }
    }
    .datetimepicker {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: -1;
        width: 0;
        height: 0;
        border: none;
        background: transparent;
    }
}