<div class="header">
  <div class="title">Users</div>
  <div class="headrow">
    <span class="username">username</span>
    <span class="role">role</span>
  </div>
</div>
<div class="body">
  <div class="users-container">
    <div class="user-element" *ngFor="let user of users">
      <span class="username" (click)="selectUser(user)">
           {{user.username}}
      </span>
      <select class="userrole" *ngIf="editable(user)" [ngModel]="user.role" (ngModelChange)="selectRole($event)">
        <option *ngFor="let role of roles" [value]="role.value">{{role.value}}</option>
      </select> 
      <span class="userrole" *ngIf="!editable(user)">{{user.role}}</span>
      <fa name="database"></fa>
    </div>
  </div>
</div>