<div class="records-header">
  <div class="records-search">
    <div class="search-by-date">
      <span>Records between dates </span>
      <app-datetimepicker class="app-datetimepicker" [momentDate]="startDate._d | date: 'MMM  dd yyyy HH:mm'" (onSelect)="selectStartDate($event)"></app-datetimepicker>
      <span>and</span>  
      <app-datetimepicker class="app-datetimepicker" [momentDate]="endDate._d | date: 'MMM  dd yyyy HH:mm'" (onSelect)="selectEndDate($event)"></app-datetimepicker>      
      <fa name="search" (click)="searchByDate()"></fa>
    </div>
    <div class="search-by-text">
      <span>Search text</span>
      <input type="text" placeholder="Enter text ..." #textFilter (keyup)="o">
    </div>
  </div>
  <div class="records-headrow">
    <span class="index">#</span>
    <span class="description">Description</span>
    <span class="date">Date time</span>
    <span class="amount">Amount</span>
    <span class="comments">Comments</span>
    <div *ngIf="editable" class="record-cmd">
      <fa name="plus" (click)="addRecord()"></fa>
    </div>
  </div>
</div>
<div class="records-body">
  <div class="records-container">
    <div class="record-element" *ngFor="let record of records | recordsFilter:textFilter.value; let idx = index;">
      <div *ngIf="!editable" >
        <!-- <div class="index">{{idx + 1}}</div> -->
        <div class="description">{{record.description}}</div>
        <div *ngIf="record.date" class="date">{{record.date._d | date: 'MM/dd/yyyy,HH:mm'}}</div>
        <div class="amount">{{record.amount}}</div>
        <div class="comments">{{record.comment}}</div>
      </div>
      <div *ngIf="editable" >
        <div class="index">{{idx + 1}}</div>
        <div class="description">
          <input type="text" [ngModel]="record.description" (ngModelChange)="descriptionChange(record, $event)"> 
        </div>
        <div class="date">
          <app-datetimepicker class="app-datetimepicker" [momentDate]="record.date._d | date: 'MMM  dd yyyy HH:mm'" (onSelect)="onSelect(record, $event)"></app-datetimepicker>
        </div>
        <div class="amount">
          <input type="number" [ngModel]="record.amount" (ngModelChange)="amountChange(record, $event)">
        </div>
        <div class="comments">
          <input type="text" [ngModel]="record.comment" (ngModelChange)="commentChange(record, $event)">
        </div>
        <div class="record-cmd">
          <fa name="trash" (click)="deleteRecord(record)"></fa>
        </div>
      </div>
    </div>
  </div>
</div>