app-records {
    padding: 10px;

    .app-datetimepicker {
        width: 160px;
        height: 29px;
        display: block;
        margin: 0 10px;
    }

    .index {
        width: 30px;
    }

    .description {
        width: 250px;
    }

    .date {
        width: 200px;
    }

    .amount {
        width: 120px;
    }

    .comments {
        width: 200px;
    }

    .records-header {
        width: 100%;

        .records-search {
            width: 100%;
            span {
                display: block;
            }
            .search-by-date {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

            }

            .search-by-text {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                input {
                    margin: 0 10px;
                }
            }

        }

        .records-headrow {
            width: 100%;
            display: flex;
            flex-direction: row;

            > span {
                display: block;
            }
        }
    }

    .record-cmd {
        cursor: pointer;
    }
    
    .records-body {
        width: 100%;

        .records-container {
            width: 100%;

            .record-element {
                width: 100%;
                > div {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}